# Roma Data Pipeline - Interactive Demo

This notebook demonstrates how to explore and visualize data from the Roma Data Pipeline.

## Setup

First, install the package and run the pipeline to generate a database:

```bash
pip install roma-data-pipeline
roma-data run --output roma_aeterna.sqlite
```

In [ ]:
import sqlite3
from pathlib import Path

import pandas as pd

# Connect to database
db_path = Path("../roma_aeterna.sqlite")  # Adjust path as needed
conn = sqlite3.connect(db_path)

print(f"Connected to: {db_path}")

## Explore Locations

In [ ]:
# Load locations into a DataFrame
df_locations = pd.read_sql_query("""
    SELECT id, name_latin, name_modern, type,
           latitude, longitude, founding_year
    FROM locations
    WHERE latitude IS NOT NULL AND longitude IS NOT NULL
""", conn)

print(f"Total locations: {len(df_locations)}")
df_locations.head(10)

In [ ]:
# Location types distribution
type_counts = df_locations['type'].value_counts().head(15)
type_counts.plot(kind='bar', figsize=(12, 5), title='Location Types')

## Explore Roads

In [ ]:
# Load roads
df_roads = pd.read_sql_query("""
    SELECT id, name, name_latin, road_type,
           length_km, construction_year
    FROM roads
""", conn)

print(f"Total roads: {len(df_roads)}")
df_roads.head(10)

In [ ]:
# Road length statistics
df_roads['length_km'].describe()

## Explore People

In [ ]:
# Load people (emperors, senators, etc.)
df_people = pd.read_sql_query("""
    SELECT name, name_latin, role, birth_year, death_year
    FROM people
    ORDER BY birth_year
""", conn)

print(f"Total people: {len(df_people)}")
df_people.head(20)

In [ ]:
# Roles distribution
role_counts = df_people['role'].value_counts()
role_counts

## Full-Text Search

In [ ]:
# Search for locations containing 'temple'
search_results = pd.read_sql_query("""
    SELECT name_latin, type, description
    FROM location_search
    WHERE location_search MATCH 'temple'
    LIMIT 20
""", conn)

search_results

## Provinces Timeline

In [ ]:
# Load provinces with temporal data
df_provinces = pd.read_sql_query("""
    SELECT name, name_latin, start_year, end_year
    FROM provinces
    WHERE start_year IS NOT NULL
    ORDER BY start_year
""", conn)

print(f"Total provinces: {len(df_provinces)}")
df_provinces.head(20)

In [ ]:
# Close connection
conn.close()
print("Done!")